name: "DAST - OWASP ZAP"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the webapplication

    steps:
      - uses: actions/checkout@v3

      # 1. Start the application (needed for DAST)
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build and Start App via Maven
        run: |
          mvn package -DskipTests
          nohup java -jar target/todo-api-*.jar &
          echo "Waiting for app to start..."
          sleep 20

      # 2. Run ZAP Baseline Scan
      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.9.0
        with:
          target: 'http://localhost:8080'
          # Fail on High or Medium alerts
          fail_action: true
          allow_issue_writing: false 
